<html>
    <head>
        <title>Awesome site</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maajichallenger.netlify.app/css/showpost/challenge.css" >
        <link rel="stylesheet" href="https://maajichallenger.netlify.app/css/showpost/publish.css" >
        <link rel="stylesheet" href="/site/fonts/webfonts/all.css" >
        <script src="https://maajichallenger.netlify.app/jquery/jquery.js"></script>
        <script src="https://maajichallenger.netlify.app/javascript/home/home.js" ></script>
    </head>
    <body>
        {{.ChallengePost}}
    </body>
</html>

